.container-pay {
  background: radial-gradient(
    circle,
    rgba(127, 26, 187, 1) 50%,
    rgba(103, 21, 152, 1) 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.containerInner-pay {
  height: 100vh;
  display: grid;
  grid-template-rows: 16vh 4fr 1fr;
}

.navPay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-logo-pay {
  width: 150px;
}

.navbar-right-pay {
  display: flex;
}

.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
}

.formContainer {
  
  display: grid;
  grid-template-rows: auto;
  width: 25%;
  min-width: 280px;
}

.paymentAmount {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.paymentAmountTotal {
  color: orange;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.formContainer label {
  font-family: "Quicksand", sans-serif;
  color: white;
}

.formContainer input {
  margin-top: 3px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  border: none;
  box-shadow: 0px 1px 5px 1px rgb(129, 129, 129);
  font-size: 16px;
}

.formName,
.formNumberCard {
  display: flex;
  flex-direction: column;
}

.formNumberCard {
  margin-top: 10px;
}
.groupFlexbox {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formGroupSelect {
  display: flex;
  justify-content: space-between;
}
.formGroupSelect select {
  margin-top: 3px;
  border-radius: 10px;
  height: 35px;
  width: 60px;
  border: none;
  box-shadow: 0px 1px 5px 1px rgb(129, 129, 129);
}

.positioncvv {
  display: flex;
  flex-direction: column;
}

.positioncvv input {
  width: 80px;
}

.btnPagar {
  margin-top: 20px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  border: none;
  color: grey;
  box-shadow: 0px 1px 5px 1px rgb(129, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center;
}
.padlock {
  width: 20px;
  margin-right: 5px;
  filter: invert(40%);
}

.alertIsValid {
  text-align: center;
  font-size: 11px;
  color: orange;
}
.mensajeFinalContainer {
  position: absolute;
  z-index: 3;
  background-color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.mensajeFinal {
  text-align: center;
  font-size: 25px;
  font-family: "Poppins", sans-serif;

  color: #7f1abb;
}

.loaderPay {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  animation: loader 2.5s linear forwards;
}
@keyframes loaderPay {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loaderPay div {
  background: #7f1abb;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0);
  animation: scaling 2s ease-in-out infinite;
}

.loaderPay div:nth-child(1) {
  animation-delay: 0.2s;
}
.loaderPay div:nth-child(2) {
  animation-delay: 0.4s;
}
.loaderPay div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

.logoTarjetContainer {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.imgLogotarjet {
  width: 60px;
  opacity: 0.3;
  filter: brightness(0.5);
  transition: 0.5s;
}

.opacityPay {
  opacity: 1;
  filter: brightness(1);
  display: flex;
}
